footer {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
    background: #001;
    height: auto;
    color: snow;
    padding: 15px;
    background-size: cover;
    background-position: center;
    position: relative;
}

footer ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
}

footer ul img {
	font-size: 2em;
	color: snow;
	height: 30px;
	width: 30px;
	background: snow;
	padding: 5px;
	border-radius: 10px;
	margin: 8px 0 8px 0;
}

footer ul li {
	margin: 0;
	display: flex;
	align-items: center;
	border-bottom: 1px solid gray;
}

footer ul li span {
    margin-left: 10px;
}

footer .social-media {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer h3 {
    margin-bottom: 15px;
    color: snow;
}

.footer-column {
    color: #999;
    width: 25%;
}
