footer {
	display: flex;
	justify-content: center;
	align-items: center;
    background: url('../img/footer.jpg');
    height: 128px;
    color: snow;
    background-size: cover;
    background-position: center;
    position: relative;
}

footer ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

footer ul img {
	font-size: 2em;
	color: snow;
}

footer ul li {
	margin: 0 32px;
}