* {
    margin: 0; padding: 0;
}

body {
    height: 100vh;
    background: snow;
    color: #1e1e1e;
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 238, 229, 0);
    height: 86px;
    color: #1e1e1e;
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0; left: 0;
    color: snow;
    font-size: 1.5em;
    transition: all 1s;
}

header nav {
    display: flex;
    align-items: center;
    height: 100%;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    height: 100%;
    padding: 0 32px;
    transition: all .4s ease;
    cursor: pointer;
    width: 256px;
    color: coral;
}

header nav ul li:hover {
    background: #1e1e1e;
}

li {
    list-style-type: none;
}

.logo {
    background: snow;
    padding: 5px;
    border-radius: 10px;
}

.lang a {
    border-radius: 0 50%;
    padding: 8px;
    cursor: pointer;
    background: #1e1e1e;
}

.active-lang {
    background: green !important;
    transition: all .5s;
}

a {
    text-decoration: none;
    color: snow;
}

header .search {
    margin: 0 32px;
    padding: 0 16px;
    cursor: pointer;
}

header .toggle {
   font-size: 1.6em;
   margin-left: 16px;
   cursor: pointer;
}


.container {
    background: #1e1e1e;
    color: snow;
}

.container, .sl, .wrap {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrap {
    flex-direction: column;
    position: relative;
}

.title {
    font-size: 3.6em;
    color: snow;
    font-family: 'Lobster', cursive;
    background: rgba(0, 0, 0, .5);
    padding: 16px;
}

.sl button {
    font-size: 4.5em;
    background: rgba(0, 0, 0, 0);
    color: snow;
    border: none;
    cursor: pointer;
    position: absolute;
    display: flex;
    margin: 0 64px;
    outline: none;
}

.prev {
    left: 0;
    z-index: 9999;
}

.next {
    right: 0;
}

.img {
    background-size: cover;
    background-position: center !important;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black {
    background: #1e1e1e;
}

.black li:hover {
    background: #333;
}

.one {
    display: flex;
    justify-content: space-around;
    margin: 64px 0;
    border-bottom: 1px solid gray;
    padding: 32px 0;
}

.animation {
    display: flex;
    justify-content: center;
    align-items: center;
}

#c1, #c2 {
    height: 100%;
}

@media screen and (max-width: 1100px) {
    .page-list {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 2em;
    }

    .lang {
        display: none;
    }
}
